.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 99999999;
}

.modalContent {
  position: static;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
